
.header {
  background-color: #10386c;
  color: #fff;
  text-align: center;
}
.container {
  width: 99%;
  max-width: 900px;
  background-color: #beb9d1;
  margin: auto;
  padding: 50px;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.container h2 {
  color: #0c0d0f;
  margin-bottom: 15px;
}

.box {
  margin-top: 20px;
}

.identitas p {
  font-size: 2rem;
  margin-bottom: 8px;
}


th, td {
  border: 2px solid #ccc;
}
.flex-list {
  display: flex;
}

@media (min-width: 768px) {
  .list-box {
    width: 45%;
  }
}
.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"] {

  padding: 10px;
  border: 1px solid #593232;
  font-size: 0.95rem;
}

.btn {
  background-color: #0e0aff;
  color: rgb(255, 255, 255);
  padding: 15px 40px;
}

.btn:hover {
  background-color: #0cc41b;
  transform: scale(1.03);
}
.foto-profil img {
  display: block;
  margin: 15px auto;
  border-radius: 50%;
  
}
.footer {
  background-color: #376fa8;
  color: white;
  text-align: center;
  padding: 15px 0;
}
